$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$black-highest-transparent: rgba(0, 0, 0, 0.1);
$black-lowest-transparent: rgba(0, 0, 0, 0.9);
$black-middle-transparent: rgba(0, 0, 0, 0.5);
$orange-color: rgb(245, 113, 4);
$light-blue-color: #e7f0ff;
$light-blue-transparent-color: #e7f0ff80;
