@import 'variables';

html,
body {
  background-color: $white-color;
  height: 100%;
}

.home-page-1 {
  background: linear-gradient($black-middle-transparent, $black-middle-transparent), url("../images/accommodation-1.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

.home-page-2 {
  background-color: $light-blue-color;
  height: 100vh;
}

.login-component {
  background-color: $black-middle-transparent;
  border-radius: 5px;
  color: $white-color;
}

.login-container {
  background-image: url("../images/accommodation-0.svg");
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@import 'utilities'
